node_modules/*
dist/*

# Generated JS and source map
/**/*.component.js
/**/*.directive.js
/**/*.model.js
/**/*.module.js
/**/*.js.map
/**/*.service.js
/**/*.pipe.js
/**/*.spec.js
/**/main.js
/**/Content/**/models/*.js
/**/Content/**/services/*.js
/**/Content/**/enums/*.js
/**/Content/**/animations/*.js
/**/Content/**/directives/*.js
/**/Content/**/editor-events/*.js
/**/Content/**/interfaces/*.js
/**/Content/**/components/**/*.js
/**/Content/**/process/*.js
/PlatformWeb/Content/**/*.js
/PluginWeb/Content/**/*.js
/**/microServiceInfo.js
/**/microServiceInfo.Service.js
/**/*.orig
/**/*.d.ts
!go-debug.d.ts
!go.d.ts